@import "./_variables.scss";
@import "./_layout.scss";

@font-face {
  font-family: "light";
  src: url("../fonts/Almarai-Light.ttf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/Almarai-Regular.ttf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/Almarai-Bold.ttf");
}

@font-face {
  font-family: "extrabold";
  src: url("../fonts/Almarai-ExtraBold.ttf");
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f6f8fb !important;
  font-family: "regular";
  * {
    font-family: "regular";
  }
  &:lang(ar) {
    direction: rtl;
    .header {
      .robot {
        left: unset;
        right: 1rem;
      }
    }
  }
  &:lang(en) {
    direction: ltr;
  }
}

.header {
  position: relative;
  height: 40vh;
  background-image: linear-gradient(#ebeef6, #819af8);
  padding: 2rem 0;
  .robot {
    position: absolute;
    bottom: -2rem;
    left: 1rem;
    width: 150px;
  }
  h1 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    span {
      color: $PrimaryColor
    }
  }
}

.story {
  margin: 5rem 0 4rem;
  .story_container {
    width: 90%;
    background-color: #eeeeee;
    display: flex;
    border-bottom-right-radius: 3.125rem;
    img {
      border-bottom-right-radius: 3.125rem;
      width: 400px;
      height: 400px;
      object-fit: cover;
    }
    .data_story {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-inline-start: 4rem;
      padding-inline-end: 3rem;
      .title_section {
        color: $PrimaryText;
        margin-bottom: 0.5rem;
      }
      .title {
        color: #000;
      }
      .text {
        line-height: 2
      }
    }
  }
}

.why {
  .why_container {
    margin-inline-start: auto;
    border-bottom-left-radius: 3.125rem;
    border-top-left-radius: 3.125rem;
    padding: 3rem;
    background-color: #eeeeee;
    width: 90%;
    .title_section {
      color: $PrimaryText;
      margin-bottom: 0.5rem;
    }
    .title {
      color: #000;
    }
    .text {
      line-height: 2
    }
  }
  .why_services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0 0;
    .service {
      width: 33%;
      padding-inline-end: 5%;
      margin-bottom: 1rem;
      .title_service {
        display: flex;
        align-items: center;
        i {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-inline-end: 0.5rem;
          background-color: #dfe7ff;
        }
      } 
      .text_service {
        width: 70%;
      }  
    }
  }
}


.trademarks-process {
  position: relative;
  position: relative;
}
.trademarks-process .img_top {
  height: 250px;
  width: auto;
  margin-left: auto;
  margin-right: 15%;
  display: block;
  margin-bottom: -20px;
}
@media all and (max-width: 767px) {
  .trademarks-process .img_top {
    height: 200px;
  }
}
@media all and (max-width: 400px) {
  .trademarks-process .img_top {
    height: 150px;
  }
}
.trademarks-process .process {
  background: #3160ff;
  border-radius: 6.25rem;
  position: relative;
  padding: 2rem;
}
@media screen and (max-width: 48rem) {
  .trademarks-process .process {
    border-radius: 20px;
  }
}
.trademarks-process .process::before {
  position: absolute;
  // content: url("../coworking/images/team/Thuraya bigger image.png");
  top: -27.5%;
  right: 15%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 62rem) {
  .trademarks-process .process::before {
    display: none;
  }
}
.trademarks-process .process h1,
.trademarks-process .process p {
  color: #fff;
}
.trademarks-process .process h1 {
  font-size: 40px;
  width: 70%;
  margin: 0 auto 1rem;
}
.trademarks-process .process a {
  color: #09132a;
  padding: 0.725rem 1.5rem;
  background: #fff;
  border: 0.0625rem solid transparent;
  border-radius: 1.25rem;
  transition: 300ms all ease-in;
}
@media all and (max-width: 480px) {
  .trademarks-process .process a {
    display: block;
  }
  .trademarks-process .process a:not(:last-child) {
    margin-bottom: 10px;
  }
}
.trademarks-process .process a:hover {
  color: #fff;
  background: transparent;
  border-color: #fff;
}
// .trademarks-process .process a {
//   color: #fff;
//   background: transparent;
//   border-color: #fff;
// }
.trademarks-process .process a:hover {
  color: #fff;
  background: transparent;
  border-color: #fff;
}
.trademarks-process {
  padding-top: 7rem !important;
}
.trademarks-process .ss-value *, .trademarks-process .ss-value {
  color: #fff;
}
.trademarks-process p {
  font-size: 1rem;
}
@media all and (min-width: 992px) {
  .trademarks-process {
    padding-top: 8rem !important;
  }
}
.trademarks-process .process .cont {
  padding-left: 15px;
  padding-right: 15px;
}
@media all and (min-width: 768px) {
  .trademarks-process .process .cont {
    max-width: 75%;
  }
}

.robot_content img {
  position: absolute;
  right: 0;
  bottom: -5px;
  z-index: 9;
  height: 140%;
}
@media all and (min-width: 992px) {
  .robot_content img {
    height: 155%;
  }
}
@media all and (max-width: 991px) {
  .robot_content img {
    right: -10px;
  }
}



@import "./_responsive.scss";
