/* ======= Mobile ======= */
@media only screen and (max-width: 600px) {
    .header {
        height: fit-content;
        .robot {
            display: block;
            position: unset;
            width: 100px;
            margin: 0 auto 1rem;
        }
        h1 {
            font-size: 1.5rem;
        }
    }
    .why {
        .why_container {
            width: 100%;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            .why_services {
              .service {
                width: 100%;
              }
            }
        }
    }
    .trademarks-process {
        padding-top: 2rem;
        .process {
            .cont {
                padding: 1rem 15px;
            }
        }
    }
    .footer {
        .logo {
            width: 100%;
        }
        .follow_us {
            width: 100%;
            justify-content: flex-start;
            margin-top: 1rem;
        }
    }
}
/* ======= Mobile ======= */
