/* ======= Tablet ======= */
@media only screen and (max-width: 991.98px) {
  .navbar {
    .navbar-nav {
      .nav-item {
        .nav-link {
          &::before {
            display: none;
          }
        }
      }
    }
  }
  .story {
    margin: 2rem 0;
    .story_container {
      width: 100%;
      border-bottom-right-radius: 0;
      flex-direction: column-reverse;
      img {
        border-bottom-right-radius: 0;
        display: block;
        margin: 0 auto 2rem;
        width: 250px;
        height: 250px;
      }
    }
  }
  .why {
    .why_services {
      .service {
        width: 50%;
        .text_service {
          width: 95%;
        }
      }
    }
  }
}
/* ======= Tablet ======= */
