.navbar {
    background-color: #fff;
    box-shadow: 0px 1px 5px 1px rgba($color: #000000, $alpha: 0.5);
    .navbar-brand {
        img {
            height: 50px;
        }
    }
    .navbar-nav {
        .nav-item {
            position: relative;
            padding: 0.5rem 1rem;
            .nav-link {
                color: #000;
                font-size: 0.9rem;
                padding: 0;
                &::before {
                    content: "";
                    display: block;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background: #000;
                    transition: width .3s;
                    position: absolute;
                    bottom: 15px;
                    right: 0;
                }
            }
            &:last-child {
                .nav-link {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    .dropdown-menu {
        width: fit-content;
        min-width: fit-content;
        li {
            width: fit-content;
            .dropdown-item {
                width: fit-content;
            }
        }
    }
}